
@{
    ViewBag.Title = "Gra treningowa";
    int[] nr = { 4, 0, 1, 2, 3, 5, 6, 7};
}

<script type="text/jscript" src="@Url.Content("~/Scripts/game.js")"></script>

<div class="board">
    <div class="row">
        <div class="text-game">Karty przeciwnika</div>
    </div>

    <div class="row">
        @for (int i = 0; i < 8; i++)
        {
            string classes = "col-xs-4 col-sm-3 col-lg-2";
            if (nr[i] == 4 || nr[i] > 3) { classes += " disp-none"; }
            else if (nr[i] == 0) { classes += " col-lg-offset-2"; }

            <div class="@classes" id="@("col_bot_card_" + nr[i].ToString())">
                <button class="card" id="@("bot_card_" + nr[i].ToString())">
                    <img src="@Url.Content("~/Content/images/cards/card_empty.png")" class="img-responsive" />
                    <div class="text-empty">Puste</div>
                </button>
            </div>
        }
    </div>

    <div class="row mt-1">
        <div class="col-xs-4 col-sm-3 col-sm-offset-3 col-lg-2 col-lg-offset-4">
            <div class="text-game">Stos</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-lg-2">
            <div class="text-game">Deck</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3 col-sm-offset-3 col-lg-2 col-lg-offset-4">
            <button class="card" id="stack">
                <img src="@Url.Content("~/Content/images/cards/card_empty.png")" class="img-responsive" />
                <div class="text-empty">Puste</div>
            </button>
        </div>
        <div class="col-xs-4 col-sm-3 col-lg-2">
            <button class="card active" id="deck" onclick="Action('deck')">
                <img src="@Url.Content("~/Content/images/cards/card_reverse.png")" class="img-responsive" />
            </button>
        </div>
    </div>

    <div class="row mt-1">
        <div class="text-game">Twoje karty</div>
    </div>

    <div class="row">
        @for (int i = 0; i < 8; i++)
        {
            string classes = "col-xs-4 col-sm-3 col-lg-2";
            if (nr[i] == 4 || nr[i] > 3) { classes += " disp-none"; }
            else if (nr[i] == 0) { classes += " col-lg-offset-2"; }

            <div class="@classes" id="@("col_player_card_" + nr[i].ToString())">
                <button class="card" id="@("player_card_" + nr[i].ToString())">
                    <img src="@Url.Content("~/Content/images/cards/card_empty.png")" class="img-responsive" />
                    <div class="text-empty">Puste</div>
                </button>
            </div>
        }
    </div>

    <div class="row mt-1">
        <button class="center-block btn-game disp-none" id="button" onclick="Action('button')">
            Rozpocznij
        </button>
    </div>

    <h2 id="debug" style="color: white;"></h2>
</div>

<script type="text/jscript">
    var path = @Url.Content("~/Content/");
</script>

<header>
    <h2>Gra</h2>
</header>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis tristique rutrum. Quisque et accumsan tortor, ac dictum est. Vivamus sit amet pharetra lorem. 
    Nulla tempus turpis ligula, ac vehicula arcu egestas quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in interdum nulla. Aliquam sed semper nisl, 
    a ullamcorper odio. Phasellus ultricies dictum tincidunt. Suspendisse laoreet eget purus a venenatis. Nam sed laoreet est. Etiam sollicitudin metus vel ante imperdiet 
    suscipit. Morbi laoreet ullamcorper ante consequat tempus. Suspendisse potenti.
</p>
