@model IEnumerable<DutchServisMCV.Models.LeagueInfo>

@{
    ViewBag.Title = "Ligi";
}

<header class="text-center">
    <h1>Ligi Dutch</h1>
</header>   

<script type="text/jscript">
    var path = @Url.Content("~/Static/");
</script>

<div class="row block">
    <div class="col-xs-12">
        @if (Session["Username"] != null)
        {
            <aside class="mx-left">
                <a href="@Url.Action("Create", "Leagues")">
                    <div class="admincontroll">Utwórz nową Ligę</div>
                </a>
            </aside>
        }
    </div>
</div>

@foreach (DutchServisMCV.Models.LeagueInfo item in Model)
{
    <article class="row border-block">
        <div class="col-xs-12 col-sm-7 col-md-8">
            <ul class="list-unstyled list-stat">
                <li>
                    <h4>
                        @Html.ActionLink(item.Name, "Info", "Leagues", new { name = item.Name }, new { @class = "unstyled bluehover" })
                    </h4>
                </li>
                <li><b>Rozpoczęcie:</b> @(((DateTime)item.StartDate).ToShortDateString())</li>
                <li><b>Koniec:</b> @(((DateTime)item.EndDate).ToShortDateString())</li>
                @if (@item.Info != null)
                {
                    <li class="cell-md"><b>Informacje:</b> @item.Info</li>
                }
            </ul>
        </div>
        <div class="col-sm-5 col-md-4 cell-sm col-height">
            <img class="img-responsive img-rounded border-1" id="@item.Name" />

            <script type="text/jscript">
                SetPath('@item.Name', 'tournamentdata/', '@item.Img', 'empty.png');
            </script>
        </div>
    </article>
}

