@model DutchServisMCV.Models.LeagueInfo
@{
    ViewBag.Title = Model.Name;
}

<article>
    <div class="row mt-2">
        <section class="col-xs-12 col-md-7">
            <h2 class="mt-0">@Model.Name</h2>

            <ul class="list-stat mt-2 mb-1 list-unstyled">
                <li><h4>Ogólne informacje</h4></li>
                @if (Session["Username"] != null)
                {
                    <li><b>Id:</b> @Model.Id</li>
                }
                <li><b>Data rozpoczęcia:</b> @(((DateTime)Model.StartDate).ToLongDateString())</li>
                <li><b>Data zakończenia:</b> @(((DateTime)Model.EndDate).ToLongDateString())</li>
            </ul>

            @if (@Model.Info != null)
            {
                <ul class="list-stat mt-2 mb-1 list-unstyled">
                    <li><h4>Inne informacje</h4></li>
                    <li>
                        @Model.Info
                    </li>
                </ul>
            }

            @if (Session["Username"] != null)
            {
                <aside>
                    <a href="@Url.Action("Edit", new { name = Model.Name })">
                        <div class="admincontroll">Edytuj</div>
                    </a>
                </aside>
            }
        </section>
        <div class="col-xs-12 col-md-5">
            <img class="img-responsive img-rounded border-1" id="league_picture" />
        </div>
    </div>
</article>

<section>
    <h4>Lista graczy</h4>

    <table class="table table-striped width-small">
        <thead class="table-style">
            <tr>
                <th class="cell-1">Numer</th>
                <th class="cell-2">Gracz</th>
            </tr>
        </thead>
        <tbody class="table-style">
            @for (int i = 0; i < Model.Players.Count(); i++)
            {
                <tr>
                    <td class="cell-1">@(i+1).</td>
                    <td class="cell-3">
                        @Html.ActionLink(Model.Players[i].Nickname, "Info", "Players", new { nickname = Model.Players[i].Nickname }, new { @class = "textlink" })
                    </td>
                </tr>
            }
            @if (Model.Players.Count() == 0)
            {
                <tr>
                    <td colspan="3" class="text-center">
                        Do ligi nie są zapisanie jeszcze żadni gracze.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@if (Model.ShowResults)
{
    <section>
        <h4>Rozegrane mecze</h4>
        <div class="block">
            @if (Session["Username"] != null)
            {
                <aside>
                    <a href="@Url.Action("Add", "Matches", new { tournament = Model.Name })">
                        <div class="admincontroll">Dodaj mecz</div>
                    </a>
                </aside>
            }
        </div>

        @Html.Partial("../Partial/_MatchList")
    </section>

    <section>
        <h4>Wyniki</h4>

        <table class="table table-striped">
            <thead class="table-style">
                <tr>
                    <th class="cell-1">Miejsce</th>
                    <th class="cell-2">Gracz</th>
                    <th class="cell-1">Punkty</th>
                    <th class="cell-1">Wygrane</th>
                    <th class="cell-1">Przegrane</th>
                    <th class="cell-1">Remisy</th>
                    <th class="cell-1">Nagroda</th>
                </tr>
            </thead>
            <tbody class="table-style">
                @{ Model.Players.Sort(DutchServisMCV.Models.LeagueInfo.CompareByRankingGet);}
                @for (int i = Model.Players.Count() - 1; i >= 0; i--)
                {
                    <tr>
                        <td class="cell-1">@(Model.Players.Count() - i).</td>
                        <td class="cell-2">
                            @Html.ActionLink(Model.Players[i].Nickname, "Info", "Players", new { nickname = Model.Players[i].Nickname }, new { @class = "textlink" })
                        </td>
                        <td class="cell-1">@Model.Players[i].Points</td>
                        <td class="cell-1">@Model.Players[i].Won</td>
                        <td class="cell-1">@Model.Players[i].Loose</td>
                        <td class="cell-1">@Model.Players[i].Draw</td>
                        <td class="cell-1">@Model.Players[i].Price</td>
                    </tr>
                }
                @if (Model.Players.Count() == 0)
                {
                    <tr>
                        <td colspan="7" class="text-center">
                            Wyniki nie zostały jeszcze ogłoszone.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}

<script type="text/jscript">
    var path = @Url.Content("~/Content/");

    SetPath('league_picture', 'tournamentdata/', '@Model.Img', 'empty.png');
</script>



