<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title | Tournament Dutch Federation</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <nav class="container">
            <div class="navbar-header blue-theme">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img class="img-icon f-left" src="@Url.Content("~/Content/images/logo.png")" />
                    <div class="f-left align-content-center disp-lg">Tournament<br />Dutch Federation</div>
                    <div class="f-left align-content-center disp-only-md disp-sm">Tournament Dutch Federation</div>
                    <div class="f-left align-content-center disp-only-xs">Tournament<br />Dutch Federation</div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    <li>@Html.ActionLink("Lista Graczy", "Index", "Players")</li>
                    <li>@Html.ActionLink("Klany", "Clans", "Home")</li>
                    <li>@Html.ActionLink("Turnieje", "Index", "Tournaments")</li>
                    <li>@Html.ActionLink("Ligi", "Index", "Leagues")</li>
                    <li>@Html.ActionLink("Informacje o federacji", "Info", "Home")</li>
                    <li>@Html.ActionLink("Zasady gry", "Rules", "Home")</li>
                    <li>@Html.ActionLink("Gra treningowa", "Index", "Game")</li>
                </ul>
                <div class="navbar-item f-right">
                    @if (Session["Username"] != null)
                    {
                        <aside class="f-left">@Html.ActionLink(Session["Username"].ToString(), "Index", "Admin")</aside>
                        <aside class="f-left">@Html.ActionLink("Wyloguj", "Logout", "Admin")</aside>
                    }
                    else
                    {
                        <aside>@Html.ActionLink("Zaloguj", "Login", "Admin")</aside>
                    }
                </div>
            </div>
            <div class="display-lg">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    <li class="drop nav-dropdown">
                        <button class="drop-header">Gracze</button>
                        <div class="drop-content">
                            @Html.ActionLink("Lista Graczy", "Index", "Players")
                            @Html.ActionLink("Klany", "Clans", "Home")
                        </div>
                    </li>
                    <li class="drop nav-dropdown">
                        <button class="drop-header">Rozgrywki</button>
                        <div class="drop-content">
                            @Html.ActionLink("Turnieje", "Index", "Tournaments")
                            @Html.ActionLink("Ligi", "Index", "Leagues")
                        </div>
                    </li>
                    <li class="drop nav-dropdown">
                        <button class="drop-header">Dla nowych graczy</button>
                        <div class="drop-content">
                            @Html.ActionLink("Informacje o federacji", "Info", "Home")
                            @Html.ActionLink("Zasady gry", "Rules", "Home")
                            @Html.ActionLink("Gra treningowa", "Index", "Game")
                        </div>
                    </li>
                </ul>
                <div class="navbar-item f-right">
                    @if (Session["Username"] != null)
                    {
                        <aside class="f-left">@Html.ActionLink(Session["Username"].ToString(), "Index", "Admin")</aside>
                        <aside class="f-left">@Html.ActionLink("Wyloguj", "Logout", "Admin")</aside>
                    }
                    else
                    {
                        <aside>@Html.ActionLink("Zaloguj", "Login", "Admin")</aside>
                    }
                </div>
            </div>
        </nav>
        <div class="blue-line"></div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="footerbar">
        <div class="container">
            <div class="f-left socials">
                <div>
                    <a href="https://facebook.com/groups/620162223657147/" target="_blank">
                        <img class="img-icon f-left disp-inline-block" src="@Url.Content("~/Content/images/fb_icon.png")" />
                        <p class="disp-inline-block">
                            Odwiedź oficjalną grupę<br />Tournament Dutch Federation
                        </p>
                    </a>
                </div>
            </div>
            <div class="f-right-md">
                <ul class="list-unstyled">
                    <li>Serwis Dutch</li>
                    <li>Ostatnia edycja: grudzień 2023</li>
                    <li>Piotr Majewski</li>
                </ul>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
