<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Dutch Federation</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header blue-theme">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img class="img-icon f-left" src="@Url.Content("~/Content/images/logo.png")" />
                    <p class="f-left">Dutch<br/>Federation</p>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    <li>@Html.ActionLink("Lista Graczy", "Index", "Players")</li>
                    <li>@Html.ActionLink("Klany", "Clans", "Home")</li>
                    <li>@Html.ActionLink("Turnieje", "Turnaments", "Home")</li>
                    <li>@Html.ActionLink("Ligi", "Leagues", "Home")</li>
                    <li>@Html.ActionLink("Zasady gry", "Rules", "Home")</li>
                    <li>@Html.ActionLink("Gra treningowa", "Botgame", "Home")</li>
                </ul>
                <div class="navbar-item f-right">
                    @if (Session["Username"] != null)
                    {
                        <aside class="f-left">@Html.ActionLink(Session["Username"].ToString(), "Index", "Admin")</aside>
                        <aside class="f-left">@Html.ActionLink("Wyloguj", "Logout", "Admin")</aside>
                    }
                    else
                    {
                        <aside>@Html.ActionLink("Zaloguj", "Login", "Admin")</aside>
                    }
                </div>
            </div>
            <div class="big-screen-olny">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    <li class="drop">
                        <button class="drop-header">Gracze</button>
                        <div class="drop-content">
                            @Html.ActionLink("Lista Graczy", "Index", "Players")
                            @Html.ActionLink("Klany", "Clans", "Home")
                        </div>
                    </li>
                    <li class="drop">
                        <button class="drop-header">Rozgrywki</button>
                        <div class="drop-content">
                            @Html.ActionLink("Turnieje", "Turnaments", "Home")
                            @Html.ActionLink("Ligi", "Leagues", "Home")
                        </div>
                    </li>
                    <li class="drop">
                        <button class="drop-header">Rozgrywki</button>
                        <div class="drop-content">
                            @Html.ActionLink("Zasady gry", "Rules", "Home")
                            @Html.ActionLink("Gra treningowa", "Botgame", "Home")
                        </div>
                    </li>
                </ul>
                <div class="navbar-item f-right">
                    @if (Session["Username"] != null)
                    {
                        <aside class="f-left">@Html.ActionLink(Session["Username"].ToString(), "Index", "Admin")</aside>
                        <aside class="f-left">@Html.ActionLink("Wyloguj", "Logout", "Admin")</aside>
                    }
                    else
                    {
                        <aside>@Html.ActionLink("Zaloguj", "Login", "Admin")</aside>
                    }
                </div>
            </div>
        </div>
        <!-- tutaj blue-line jeśli ma przesuwać się z rozwijanym menu -->
    </div>
    <div class="blue-line"></div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Piotr Majewski @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
