@model DutchServisMCV.Models.Players

@{
    ViewBag.Title = "Edytuj profil " + Model.Nickname;
}

<header>
    <h2>@Model.Nickname</h2>
    <h3>Profil gracza</h3>
</header>

@using (Html.BeginForm("Edit", "Players", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h4 class="mb-1">Edycja informacji</h4>

        <div class="form-group">
            <label class="control-label col-md-2" for="PlayerId">Id</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PlayerId, new { @readonly = "readonly", @class = "form-control text-box single-line", @autocomplete = "off" })
            </div>
        </div>

        <div class="form-group disp-none">
            @Html.TextBoxFor(model => model.Img, new { @readonly = "readonly", htmlAttributes = new { @autocomplete = "off" } })
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Nickname">Nick</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                <div class="text-danger">@ViewBag.NickValidationMsg</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Imię</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Surname">Nazwisko</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="JoinDate">Data dołączenia</label>
            <div class="col-md-10">
                @{ 
                    string date = Model.JoinDate.HasValue ? Model.JoinDate.Value.ToString("yyyy-MM-dd") : "";
                }
                <input type="date" class="list-box form-control" id="JoinDate" name="JoinDate" value="@date" autocomplete="off">
                <div class="text-danger">@ViewBag.DateValidationMsg</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ClanId">Klan</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <select class="list-box form-control" id="ClanId" name="ClanId">
                        <option selected="selected" value="null">Brak</option>
                        @foreach (DutchServisMCV.Models.Clans clan in ViewBag.Clans)
                        {
                            if (clan.ClanId == Model.ClanId)
                            {
                                <option value="@clan.ClanId" selected="selected">@clan.Name</option>
                            }
                            else
                            {
                                <option value="@clan.ClanId">@clan.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Active">Aktywny</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <select class="list-box form-control" id="Active" name="Active">
                        @if (Model.Active == true)
                        {
                            <option value="true" selected="selected">Tak</option>
                            <option value="false">Nie</option>
                        }
                        else
                        {
                            <option value="true">Tak</option>
                            <option value="false" selected="selected">Nie</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group disp-md">
            <label class="control-label col-md-2" for="File">Awatar</label>
            <div class="col-md-3">
                <img class="img-responsive img-rounded border-1" id="img" />
            </div>
        </div>

        <div class="form-group disp-only-sm">
            <label class="control-label col-md-2" for="File">Awatar</label>
            <div class="col-md-3">
                @{ string imgStr = "brak"; }
                @if (Model.Img != null) { imgStr = "\"" + Model.Img + "\""; }
                @imgStr
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="File">Nowy awatar</label>
            <div class="col-md-10">
                <input id="File" name="File" type="file" class="form-element" accept=".png,.jpg,.jpeg" data-buttonText="Your label here." />
                <div class="text-danger">@ViewBag.FileValidationMsg</div>
            </div>
        </div>

        <hr />
        <h4>Edycja danych</h4>
        <p class="text-danger">
            Uwaga! Dane w tej sekcji są aktualizowane automatycznie i należy je edytować <b>tylko</b> w przypadku <b>zmian w już wprowadzonych</b> rozgrywkach.
        </p>

        <div class="form-group">
            <label class="control-label col-md-2" for="Rating">Rating</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                <div class="text-danger">@ViewBag.RatingValidationMsg</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zatwierdź zmiany" class="btn-warning" />
                <a href="@Url.Action("Info", new { nickname=Model.Nickname })">
                    <div class="disp-inline-block buttonlike-heavy">
                        Odrzuć zmiany
                    </div>
                </a>
            </div>
        </div>
    </div>
}

<script type="text/jscript">
    var path = @Url.Content("~/Content/");

    setPath('img', 'playerdata/', '@Model.Img', 'avatar.png');
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}