@model IEnumerable<DutchServisMCV.Models.PlayerInfo>

@{
    ViewBag.Title = "PlayerList";
}

<h2>Player List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h3>Arrows</h3>
<p style="font-size:16px;"> sort asc: &#11181;</p>
<p style="font-size:16px;"> sort desc: &#11183;</p>
<p style="font-size:16px;"> not sort: &#10606;</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="table-style">
            <th class="cell-1 cell-sm">Pozycja</th>
            <th class="cell-1 cell-only-xs">Poz.</th>
            <th class="cell-1 cell-lg">Awatar</th>
            <th class="cell-2"><input type="button" id="player_sort" value="Gracz" onclick="sortPlayer()" /></th>
            <th class="cell-2 cell-md">Klan</th>
            <th class="cell-1 cell-sm"><input type="button" id="rank_sort1" value="Ranking" onclick="sortRanking()" /></th>
            <th class="cell-1 cell-only-xs"><input type="button" id="rank_sort2" value="Rank." onclick="sortRanking()" /></th>
            <th class="cell-1 cell-sm"><input type="button" id="elo_sort1" value="Rating" onclick="sortRating()" /></th>
            <th class="cell-1 cell-only-xs"><input type="button" id="elo_sort2" value="Elo" onclick="sortRating()" /></th>
        </tr>
    </thead>

    <tbody id="table_body">
        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr class="table-style">
                <td class="cell-1">
                    <div class="cell-text">@(i + 1) .</div>
                </td>
                <td class="cell-1 cell-lg">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/avatar.png")" />
                </td>
                <td class="cell-2">
                    <div class="cell-text">@Html.DisplayFor(modelItem => Model.ElementAt(i).Nickname)</div>
                </td>
                <td class="cell-2 cell-md">
                    <div class="cell-text">@Html.DisplayFor(modelItem => Model.ElementAt(i).Clan)</div>
                </td>
                <td class="cell-1">
                    <div class="cell-text">@Html.DisplayFor(modelItem => Model.ElementAt(i).Ranking)</div>
                </td>
                <td class="cell-1">
                    <div class="cell-text">@Html.DisplayFor(modelItem => Model.ElementAt(i).Rating)</div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/jscript">
    var model = @Html.Raw(Json.Encode(Model));
</script>