@model DutchServisMCV.Models.PlayerData

@{
    ViewBag.Title = "Profil " + Model.Nickname;
}

<article>
    <div class="row mt-2">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <img class="img-responsive img-rounded border-1" id="profile_img" />
        </div>
        <section class="col-xs-12 col-sm-8 col-md-9">
            <h2 class="mt-0">@Model.Nickname</h2>
            <h3 class="italic">@Model.Name @Model.Surname</h3>

            <ul class="list-stat mt-2 list-unstyled">
                <li><h4>Ogólne informacje</h4></li>
                @if (Session["Username"] != null)
                {
                    <li><b>Id:</b> @Model.Id</li>
                }
                <li><b>Status:</b> @Model.Status</li>
                <li><b>Data dołączenia:</b> @Model.JoinDate.Value.ToShortDateString()</li>
                <li><b>Klan:</b> @Model.Clan</li>
            </ul>

            @if (Session["Username"] != null)
            {
                <aside>
                    <a href="@Url.Action("Edit", new { nickname = Model.Nickname })">
                        <div class="admincontroll">Edytuj</div>
                    </a>
                </aside>
            }
        </section>
    </div>
    <section class="row-no-gutters">
        <ul class="list-stat mt-2 list-unstyled">
            <li><h4>Statystyki</h4></li>
            <li><b>Ranking:</b> @Model.Ranking</li>
            <li><b>Rating:</b> @Model.Rating</li>
            <li>
                <b>Win rate:</b> @Model.Winratio%
                <div class="f-right">@Model.WinGames / @Model.TotalGames</div>
            </li>
            <li>
                <b>Opening win rate:</b> @Model.OpenWinration%
                <div class="f-right">@Model.WinOpenings / @Model.Openings</div>
            </li>
            <li>
                <b>Dutch win rate:</b> @Model.DutchWinration%
                <div class="f-right">@Model.WinDutchs / @Model.Dutchs</div>
            </li>
        </ul>
    </section>
</article>

<script type="text/jscript">
    var path = @Url.Content("~/Content/");

    setPath('profile_img', 'playerdata/', '@Model.Img', 'avatar.png');
</script>

