@model IEnumerable<DutchServisMCV.Models.Announcement>

@{
    ViewBag.Title = "Strona główna";
}

<script type="text/jscript">
    var path = @Url.Content("~/Static/");
</script>

<header class="text-center">
    <h1 class="mb-1">Turnament Dutch Federation</h1>
</header>

<section>
    <p>
        Witaj na stronie głównej federacji Dutcha! Znajdziesz tu wszystkie informacje dotyczące tej federacji i turniejów się odbywają w ramach
        niej. <br />Aby dowiedzieć się więcej o federacji kliknij @Html.ActionLink("tutaj", "About").
    </p>
</section>
<section>
    <h3>Nie wiesz czym jest Dutch?</h3>
    <p>
        Dutch jest grą karcianą dla 2 lub więcej osób. Podobnie jak makao posiada wiele różnych wariacji i każdy zna inne zasady. Jeżeli jeszcze
        nigdy nie grałeś w Dutch'a lub chcesz poznać zasady obowiązujące w rozgrywkach turniejowych przejdź do strony
        @Html.ActionLink("zasad gry", "Rules").
    </p>
</section>

<h2>Ogłoszenia</h2>

@if (Session["username"] != null)
{
    <a href="@Url.Action("Add")">
        <div class="admincontroll">Napisz nowe ogłoszenie</div>
    </a>
}

<section class="mt-1">
    @foreach (DutchServisMCV.Models.Announcement announcement in Model)
    {
        <article class="row border-block">
            @if (announcement.Img != null)
            {
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <h4>@announcement.Title</h4>
                    <p class="italic f-right">
                        @announcement.Date.Value.ToShortDateString()
                    </p>
                    <p>
                        @announcement.Content
                    </p>
                </div>
            }
            else
            {
                <div>
                    <h4>@announcement.Title</h4>
                    <p class="italic f-right">
                        @announcement.Date.Value.ToShortDateString()
                    </p>
                    <p>
                        @announcement.Content
                    </p>
                </div>
            }

            @if (announcement.Img != null)
            {
                <div class="col-xs-12 col-sm-5 col-md-4 cell-sm col-height">
                    <img class="img-responsive img-rounded" id="@("post_" + announcement.AnnouncementId.ToString())" />

                    <script type="text/jscript">
                    SetPath('@("post_" + announcement.AnnouncementId.ToString())', 'announcementdata/', '@announcement.Img', 'empty.png');
                    </script>
                </div>
            }
        </article>
    }
</section>