@model DutchServisMCV.Models.MatchData

@{
    ViewBag.Title = "Dodaj mecz";
}

<header>
    <h2>Dodaj mecz</h2>
</header>   

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />

        <section>
            <h4>Dane meczu</h4>

            <div class="form-group">
                <label class="control-label col-md-3" for="PlayerId1">Pierwszy gracz</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <select class="list-box form-control" id="PlayerId1" name="PlayerId1">
                            <option value="0" selected>Nie wybrano</option>
                            @foreach (DutchServisMCV.Models.GameNamespace.PlayerItem item in ViewBag.Players)
                            {
                                <option value="@item.Id">@item.Nickname</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="PlayerId2">Drugi gracz</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <select class="list-box form-control" id="PlayerId2" name="PlayerId2">
                            <option value="0" selected>Nie wybrano</option>
                            @foreach (DutchServisMCV.Models.GameNamespace.PlayerItem item in ViewBag.Players)
                            {
                                <option value="@item.Id">@item.Nickname</option>
                            }
                        </select>
                    </div>
                    <div class="text-danger">@ViewBag.PlayerValidationMsg</div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="PlayDate">Data</label>
                <div class="col-md-9">
                    <input type="date" class="list-box form-control" id="PlayDate" name="PlayDate" value="@Model.PlayDate" autocomplete="off">
                    <div class="text-danger">@ViewBag.DateValidationMsg</div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="FormatBo">Format</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <select class="list-box form-control" id="FormatBo" name="FormatBo">
                            <option value="5">Bo5</option>
                            <option value="7">Bo7</option>
                            <option value="9">Bo9</option>
                            <option value="10">Bo10</option>
                            <option value="11" selected>Bo11</option>
                            <option value="13">Bo13</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="First">Rozpoczyna</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <select class="list-box form-control" id="First" name="Opens">
                            <!-- Javascript generated content -->
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h4 class="mt-1">Rozegrane partie</h4>

            <!-- Tabela rozgrywek -->
            <table class="table width-medium table-bordered">
                <thead class="table-style">
                    <tr>
                        <th></th>
                        <th colspan="2" id="player1"></th>
                        <th colspan="2" id="player2"></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="cell-1">Nr.</th>
                        <th class="cell-1">Punkty</th>
                        <th class="cell-1">Błędy</th>
                        <th class="cell-1">Punkty</th>
                        <th class="cell-1">Błędy</th>
                        <th class="cell-2">Dutch</th>
                        <th class="cell-1"></th>
                    </tr>
                </thead>
                <tbody class="table-style" id="games_table">
                    <!-- Javascript generated content -->
                </tbody>
            </table>

            <button type="button" class="mx-1 disp-inline-block px-10" id="add_button">
                Dodaj grę
            </button>
        </section>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj mecz" class="btn-warning" />
                <a href="@Url.Action("Index", "Tournaments")">
                    <div class="disp-inline-block buttonlike-heavy">
                        Wróć
                    </div>
                </a>
            </div>
        </div>
    </div>
}

<script type="text/jscript">
    var collection = (@Html.Raw(Json.Encode(Model))).Games;

    let gameTCG = new TableContentGenerator("Games", "games_table", [
        { Name: "Nr", Type: AttType.Number },
        { Name: "PointsPlayer1", Type: AttType.Input },
        { Name: "MistakesPlayer1", Type: AttType.Input },
        { Name: "PointsPlayer2", Type: AttType.Input },
        { Name: "MistakesPlayer2", Type: AttType.Input },
        { Name: "Dutch", Type: AttType.Select },
        { Name: "Delete", Type: AttType.Delete }
    ], [null, null], { Id: "Value", Text: "Text" });
    let addAC = new AddPlayerController("add_button");

    let manager = new ContentManager([gameTCG], null, addAC, [
        { Name: "PointsPlayer1", Type: "Null" },
        { Name: "MistakesPlayer1", Type: "Number" },
        { Name: "PointsPlayer2", Type: "Null" },
        { Name: "MistakesPlayer2", Type: "Number" },
        { Name: "Dutch", Type: "Select" },
    ]);

    let playerSC = new SelectController("First", [null, null], { Id: "Value", Text: "Text" }, "Nie wybrano");

    let selectSM = new SelectManager([playerSC, gameTCG], ["PlayerId1", "PlayerId2"], ["player1", "player2"]);
</script>