@model DutchServisMCV.Models.Games

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsPlayer1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsPlayer1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsPlayer2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsPlayer2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MistakesPlayer1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MistakesPlayer1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MistakesPlayer2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MistakesPlayer2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Win)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Win)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opening)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opening)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dutch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dutch)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
