@model DutchServisMCV.Models.MatchData

@{
    ViewBag.Title = "Edytuj mecz";
}

<header>
    <h2>Edytuj mecz</h2>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <section>
            <h4>Dane meczu</h4>

            <div class="form-group">
                <label class="control-label col-md-3" for="Id">Id meczu</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Id, new { @readonly = "readonly", @class = "form-control text-box single-line" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="PlayerId1">Pierwszy gracz</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <select class="list-box form-control" id="PlayerId1" name="PlayerId1">
                            @foreach (DutchServisMCV.Models.GameNamespace.PlayerItem item in ViewBag.PlayersSet)
                            {
                                if (Model.PlayerId1 == item.Id)
                                {
                                    <option value="@item.Id" selected>@item.Nickname</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Nickname</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="PlayerId2">Drugi gracz</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <select class="list-box form-control" id="PlayerId2" name="PlayerId2">
                            @foreach (DutchServisMCV.Models.GameNamespace.PlayerItem item in ViewBag.PlayersSet)
                            {
                                if (Model.PlayerId2 == item.Id)
                                {
                                    <option value="@item.Id" selected>@item.Nickname</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Nickname</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="text-danger">@ViewBag.PlayersValidationMsg</div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="PlayDate">Data</label>
                <div class="col-md-9">
                    <input type="date" class="list-box form-control" id="PlayDate" name="PlayDate" value="@Model.PlayDate.ToString("yyyy-MM-dd")" autocomplete="off">
                    <div class="text-danger">@ViewBag.DateValidationMsg</div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="FormatBo">Format</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <select class="list-box form-control" id="FormatBo" name="FormatBo">
                            @foreach (KeyValuePair<int, string> format in ViewBag.Formats)
                            {
                                if (format.Key == Model.FormatBo || (format.Key == 11 && Model.FormatBo == 0))
                                {
                                    <option value="@format.Key" selected>@format.Value</option>
                                }
                                else
                                {
                                    <option value="@format.Key">@format.Value</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Opens">Rozpoczyna</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <select class="list-box form-control" id="Opens" name="Opens">
                            <!-- Javascript generated content -->
                        </select>
                    </div>
                    <div class="text-danger">@ViewBag.OpensValidationMsg</div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="BonusGamePlayer">Bonusowa gra</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <select class="list-box form-control" id="BonusGamePlayer" name="BonusGamePlayer">
                            <!-- Javascript generated content -->
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h4 class="mt-1">Rozegrane partie</h4>

            <!-- Tabela rozgrywek -->
            <table class="table table-bordered">
                <thead class="table-style">
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="2" id="player1"></th>
                        <th colspan="2" id="player2"></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th class="cell-1">Nr</th>
                        <th class="cell-1">Id</th>
                        <th class="cell-1">Punkty</th>
                        <th class="cell-1">Błędy</th>
                        <th class="cell-1">Punkty</th>
                        <th class="cell-1">Błędy</th>
                        <th class="cell-2">Dutch</th>
                        <th class="cell-1"></th>
                    </tr>
                </thead>
                <tbody class="table-style" id="games_table">
                    <!-- Javascript generated content -->
                </tbody>
            </table>

            <button type="button" class="mx-1 disp-inline-block px-10" id="add_button">
                Dodaj grę
            </button>
        </section>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zatwierdź zmiany" class="btn-warning" />
                <a href="@Url.Action("Details", "Matches", new { id = Model.Id })">
                    <div class="disp-inline-block buttonlike-heavy">
                        Odrzuć zmiany
                    </div>
                </a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label class="text-success">@ViewBag.Notification</label>
            </div>
        </div>
    </div>
}

<script type="text/jscript">
    var collection = (@Html.Raw(Json.Encode(Model))).Games;
    var players = @Html.Raw(Json.Encode(ViewBag.Players));

    let gameTCG = new TableContentGenerator("Games", "games_table", [
        { Name: "Nr", Type: AttType.Number },
        { Name: "GameId", Type: AttType.Readonly },
        { Name: "PointsPlayer1", Type: AttType.Input },
        { Name: "MistakesPlayer1", Type: AttType.Input },
        { Name: "PointsPlayer2", Type: AttType.Input },
        { Name: "MistakesPlayer2", Type: AttType.Input },
        { Name: "Dutch", Type: AttType.Select },
        { Name: "Delete", Type: AttType.Delete }
    ], players, { Id: "Id", Text: "Nickname" });
    let addAC = new AddPlayerController("add_button");

    let manager = new ContentManager([gameTCG], null, addAC, [
        { Name: "GameId", Type: "Number" },
        { Name: "PointsPlayer1", Type: "Null" },
        { Name: "MistakesPlayer1", Type: "Number" },
        { Name: "PointsPlayer2", Type: "Null" },
        { Name: "MistakesPlayer2", Type: "Number" },
        { Name: "Dutch", Type: "Select" },
    ]);

    let opensSC = new SelectController(
        "Opens", players, { Id: "Id", Text: "Nickname" }, "Nie wybrano", @Html.Raw(Json.Encode(Model.Opens))
    );
    let bonusgameSC = new SelectController(
        "BonusGamePlayer", players, { Id: "Id", Text: "Nickname" }, "Brak", @Html.Raw(Json.Encode(Model.BonusGamePlayer))
    );

    let selectSM = new SelectManager([opensSC, bonusgameSC, gameTCG], ["PlayerId1", "PlayerId2"], ["player1", "player2"]);
</script>
