@model IEnumerable<DutchServisMCV.Models.Games>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointsPlayer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointsPlayer2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MistakesPlayer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MistakesPlayer2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Win)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dutch)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointsPlayer1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointsPlayer2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MistakesPlayer1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MistakesPlayer2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Win)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opening)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dutch)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameId })
        </td>
    </tr>
}

</table>
