@model DutchServisMCV.Models.TournamentInfo
@{
    ViewBag.Title = @Model.Name;
}

<article>
    <div class="row mt-2">
        <section class="col-xs-12 col-md-7">
            <h2 class="mt-0">@Model.Name</h2>

            <ul class="list-stat mt-2 mb-1 list-unstyled">
                <li><h4>Ogólne informacje</h4></li>
                <li><b>Data:</b> @Model.DateTime.ToLongDateString()</li>
                <li><b>Godzina:</b> @Model.DateTime.ToShortTimeString()</li>
                <li><b>Lokalizacja:</b> @Model.Location</li>
            </ul>

            @if (@Model.Info != null)
            {
                <ul class="list-stat mt-2 mb-1 list-unstyled">
                    <li><h4>Opis</h4></li>
                    <li>
                        @Model.Info
                    </li>
                </ul>
            }

            @if (Session["Username"] != null)
            {
                <aside>
                    <a href="@Url.Action("TournamentEdit", new { nickname = Model.Name })">
                        <div class="admincontroll">Edytuj informacje o turnieju</div>
                    </a>
                </aside>
            }
        </section>
        <div class="col-xs-12 col-md-5">
            <img class="img-responsive img-rounded border-1" id="tournament_picture" />
        </div>
    </div>
</article>

<section>
    <h4>Lista graczy</h4>
    @if (Session["Username"] != null)
    {
        <aside>
            <a href="@Url.Action("AddToPlayerSet", new { nickname = Model.Name })">
                <div class="admincontroll">Dodaj gracza</div>
            </a>
        </aside>
    }

    <table class="table table-striped width-small">
        <thead>
            <tr class="table-style">
                <th class="cell-1 disp-sm">Rozstawienie</th>
                <th class="cell-1 disp-only-xs">Roz.</th>
                <th class="cell-4">Gracz</th>
                <th class="cell-2 disp-sm">Ranking</th>
                <th class="cell-2 disp-only-xs">Rank.</th>
            </tr>
        </thead>
        <tbody>
            @{ Model.Players.Sort(DutchServisMCV.Models.TournamentInfo.CompareByRankingBefore); }
            @for (int i = 0; i < Model.Players.Count(); i++)
            {
                <tr class="table-style">
                    <td class="cell-1">@(i+1).</td>
                    <td class="cell-3">
                        @Html.ActionLink(Model.Players[i].Nickname, "Info", "Players", new { nickname = Model.Players[i].Nickname }, new { @class = "textlink" })
                    </td>
                    <td class="cell-2">@Model.Players[i].RankingBefore</td>
                </tr>
            }
            @if (Model.Players.Count() == 0)
            {
                <tr>
                    <td colspan="3" class="text-center">
                        Do turnieju nie są zapisanie jeszcze żadni gracze.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<section>
    <h4>Rozegrane mecze</h4>
    <div class="block">
        @if (Session["Username"] != null)
        {
            <aside>
                <a href="@Url.Action("MatchAdd", new { nickname = Model.Name })">
                    <div class="admincontroll">Dodaj mecz</div>
                </a>
            </aside>
        }
    </div>

    <div>
        @foreach (DutchServisMCV.Models.MatchData match in Model.Matches)
        {
            <div class="block border-1">
                <div class="row">
                    <div class="col-xs-3 big">@match.Player1</div>
                    <div class="col-xs-3 big">@match.Player2</div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2"><b>Data:</b> @match.PlayDate.ToShortDateString()</div>
                    <div class="col-xs-2 text-center">
                        @if (Session["Username"] != null)
                        {
                            <aside class="admincontroll-text">@Html.ActionLink("Edytuj", "Edit", new { id = match.Id })</aside>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 big">@match.PointsPlayer1</div>
                    <div class="col-xs-3 big">@match.PointsPlayer2</div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2"><b>Format:</b> Bo@(match.FormatBo)</div>
                    <div class="col-xs-2 text-center">
                        @Html.ActionLink("Szczegóły", "Details", new { id = match.Id })
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<section>
    <h4>Wyniki</h4>
    @if (Session["Username"] != null)
    {
        <aside>
            <a href="@Url.Action("AddResult", new { nickname = Model.Name })">
                <div class="admincontroll">Dodaj wynik</div>
            </a>
        </aside>
    }

    <table class="table table-striped width-medium">
        <thead>
            <tr class="table-style">
                <th class="cell-1">Miejsce</th>
                <th class="cell-2">Gracz</th>
                <th class="cell-2 disp-sm">Zdobyte punkty</th>
                <th class="cell-2 disp-only-xs">Punkty</th>
                <th class="cell-1">Nagroda</th>
            </tr>
        </thead>
        <tbody>
            @{ Model.Players.Sort(DutchServisMCV.Models.TournamentInfo.CompareByRankingGet);}
            @for (int i = Model.Players.Count() - 1; i >= 0; i--)
            {
                <tr class="table-style">
                    <td class="cell-1">@(Model.Players[i].Place).</td>
                    <td class="cell-2">
                        @Html.ActionLink(Model.Players[i].Nickname, "Info", "Players", new { nickname = Model.Players[i].Nickname }, new { @class = "textlink" })
                    </td>
                    <td class="cell-2">@Model.Players[i].RankingGet</td>
                    <td class="cell-1">@Model.Players[i].Price</td>
                </tr>
            }
            @if (Model.Players.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">
                        Wyniki nie zostały jeszcze ogłoszone.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<script type="text/jscript">
    var path = @Url.Content("~/Content/");

    setPath('tournament_picture', 'tournamentdata/', '@Model.Img', 'empty.png');
</script>

